{% extends 'base_abs-cd.html' %}

{% autoescape on %}
{% block title %}<title> Build Status: {{ package.name }} </title>{% endblock title %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'cd_manager/package.css' %}">
{% endblock style %}

{% block content %}
</br>
<h3>{{ package.name }}</h3>
<p id="build_info"> Build Status: <span class=
                    {% if package.build_status == 'SUCCESS' %}
                        "success"
                    {% elif package.build_status == 'FAILURE' %}
                         "failure"
                    {% else %}
		    	"not_built"
                    {% endif %}
                    >{{ package.build_status }}</span> &emsp; &emsp;
    Last Build Date: {{ package.build_date|date:'d.n.Y H:i' }}</p>
<h5 id="bo_header">Build Output</h5>
<div id="build_output" class="console_output">
{% if package.build_output %}
{{ package.build_output|linebreaksbr}}
{% else %}
There is no build output available.
{% endif %}
</div>

&emsp; &emsp;

{% if package.aur_push %}
<h5 id="bo_header">Git push to AUR Output</h5>
<div id="aur_push_output" class="console_output">
{% if package.aur_push_output %}
{{ package.aur_push_output|linebreaksbr}}
{% else %}
There is no aurpush output available.
{% endif %}
</div>
{% endif %}

{% endblock content %}
{% endautoescape %}

