{% extends 'base_abs-cd.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'cd_manager/package_list.css' %}">
{% endblock style %}

{% block content %}
    <h3 align="center">Package build status overview</h3>
    </br>
    {% if package_list %}
        <table>
		<tr>
		{% for sort_link in sort_link_list %}
			<th class="sort-link {{sort_link.attrs }}">
				<a class = "pkglist_header" href="{{ sort_link.path }}">
					<span class="{{ sort_link.indicator }}">
    						{{ sort_link.title }}
    						{% if sort_link.indicator == 'sort-asc' %}▲{% endif %}
    						{% if sort_link.indicator == 'sort-desc' %}▼{% endif %}
					</span>
				</a>
			</th>
		{% endfor %}
		</tr>
		<tr>  </tr>
            {% for package in package_list %}
                <tr>
                    <td class="pkgname"><a href="{% url 'cd_manager:package' package.name %}">{{ package.name}}</a></td>
                    <td> <span class=
                    {% if package.build_status == 'SUCCESS' %}
                        "success"
                    {% elif package.build_status == 'FAILURE' %}
                         "failed"
                    {% else %}
                        "not_built"
                    {% endif %}
                    >{{ package.build_status }}</span></td>
                    <td>{{ package.build_date|date:'d.n.Y H:i' }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="color: red">There are no package repos available or indexed.</p>
    {% endif %}
{% endblock content %}
