[DJANGO]
secret_key =
debug = False
docker_socket = unix://var/run/docker.sock
pkgbuildrepos_host_path = /var/local/abs_cd/packages
pacmanrepo_host_path = Docker-volume
pacmanrepo_name = abs_cd-local
