{% extends 'base_abs-cd.html' %}

{% autoescape on %}
{% block title %}<title> ABS_CD log </title>{% endblock title %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'cd_manager/package_list.css' %}">
{% endblock style %}

{% block content %}
</br>
<table>
  <thead>
    <tr>
      <th>Container log</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div id="build_output" class="console_output">
          {% if log %}
          {{ log|linebreaksbr}}
          {% else %}
          There is no log available.
          {% endif %}
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if prev_page %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ prev_page }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page }} of {{ page_count }}.
        </span>

        {% if next_page %}
            <a href="?page={{ next_page }}">next</a>
            <a href="?page={{ page_count }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
{% endautoescape %}

