{% extends "admin/base.html" %}

{% block title %}{{'ABS_CD admin'}}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ 'ArchBuildSystem Continuos Delivery'}}</a></h1>
{% endblock %}

{% block extrastyle %}{{ block.super }}{% load static %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/abs_cd.css" %}" />{% endblock %}
{% block nav-global %}{% endblock %}

{% block footer %}
{% if has_permission %}
<p class="admin_option"><a class="button" href="{% url 'admin:abs_cd_log' %}">ABS_CD log</a></p>
{% endif %}
{% endblock %}
