html *
{
    font-family: sans-serif !important;
}

.content {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
    width: 95%;
}

hr {
    border: 0;
    border-bottom: 1px dashed #BBCCDD;
    margin-bottom: 10px;
}
