table {
    width: 100%;
    background-color: #ECF2F5;
    line-height: 1.3em;
    border: 1px solid #BBCCDD;
}

a, a:visited {
    color: #0077BB;
    text-decoration: none;
}

a:hover, a:focus, a:visited:hover, a:visited:focus {
    text-decoration: underline;
}

th {
    text-align: left;
    padding: 2px;
    background-color: #D9E6EC;
    border-bottom: 1px solid #BBCCDD;
}

td {
    text-align: left;
    padding: 4px;
}

tr:hover {
	background-color: #E4EDF1;
}

span {
    padding: 2px;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.other {
	color: grey;
}

.console_output {
    padding: 1em;
}

.pagination {
    text-align: center;
}

.current {
    margin: 2em;
}
