.console_output {
    align-self: center;
    text-align: left;
    background: grey;
    padding: 0.5em;
    margin-left: 4em;
    margin-right: 16em
}

#bo_header {
    margin-left: 5em;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.not_built {
	color: grey;
}
