table {
    width: 35em
}

th {
    text-align: left;
    padding: 0px;
}

td {
    text-align: left;
    padding: 2px;
}

span {
    padding: 2px
}

.pkglist_header {
	background-color: #333;
	color: #DDD;
	border-radius: 10px;
	padding: 4px;
}
