table {
    width: 100%;
    background-color: #ECF2F5;
    line-height: 1.3em;
    border: 1px solid #BBCCDD;
}

th {
    text-align: left;
    padding: 0px;
    background-color: #D9E6EC;
    border-bottom: 1px solid #BBCCDD;
}

td {
    text-align: left;
    padding: 2px;
}

tr:hover {
	background-color: #E4EDF1;
}

span {
    padding: 2px;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.not_built {
	color: grey;
}
